@import "../../assets/style/index.scss";

.kudos {
    border: 1px solid getColor("gray");
    border-radius: $border-radius;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    color: getColor("brown");
    margin-bottom: getSpace("s");
    padding: getSpace("xs");
    flex-direction: column;

    background-color: transparent;
    transition: background-color 0.3s ease-out;
    @include media("sm") {
        flex-direction: row;
    }
    &:hover {
        background-color: getColor("gray");
    }
    &.isActive {
        background-color: getColor("gray");
    }

    &.large {
        color: getColor("black");
        padding: getSpace("l") getSpace("m") getSpace("xl");

        &:hover {
            background-color: transparent;
        }
    }
    &__img {
        min-height: 100px;
        width: 80px;
        position: relative;
        img {
            position: absolute;
            display: block;
            object-fit: contain;
            max-width: 100%;
            max-height: 100%;
            height: 100%;
        }
        @include media("sm") {
            position: absolute;
            top: 50%;
            height: 100%;
            min-height: unset;

            width: 80px;
            max-height: calc(100% - #{getSpace("xs") * 2});
            left: getSpace("sm");
            transform: translateY(-50%);
            display: flex;

            justify-content: center;
            align-items: center;
            img {
                position: unset;
            }
        }
    }
    .large &__img {
        width: 124px;
        max-height: calc(100% - #{getSpace("l") + getSpace("xl")});

        @include media("sm") {
            left: getSpace("m");
        }
    }
    &__texts {
        @include media("sm") {
            width: calc(100% - 80px);
            margin-left: auto;
        }
    }
    .large &__texts {
        @include media("sm") {
            width: calc(100% - 124px);
        }
    }
    &__mess {
        font-size: 1.4rem;
        text-align: center;
        margin-bottom: 0;
        margin-top: 1rem;
    }
    .large &__mess {
        font-size: 1.6rem;
        text-align: center;
        margin-bottom: 1rem;
    }
    &__recipient {
        margin-top: 0;
        margin-bottom: 1rem;
        font-size: 1.4rem;
        font-weight: getFontWeight("semibold");
        text-align: center;
    }
    .large &__recipient {
        margin-top: 0;

        font-size: 2.4rem;
        font-weight: getFontWeight("bold");
        text-align: center;
    }
}
