html {
    font-size: 62.5%;
}
body {
    background-color: #fbfbfb;
    overflow-x: hidden;
    line-height: 1.5;
    font-family: "Poppins", sans-serif;
}
ul {
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
}
