@import "./variables.scss";
@import "./mixins.scss";
@import "./functions.scss";

.row {
    box-sizing: border-box;
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.row_static {
    box-sizing: border-box;
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
}
@each $breakpoint, $value in $breakpoints {
    @for $i from 1 through $grid-cols {
        .col__#{$breakpoint}_#{$i} {
            @include media($breakpoint) {
                flex-basis: (100 / ($grid-cols / $i) * 1%);
                max-width: (100 / ($grid-cols / $i) * 1%);
                width: 100%;
                flex: 0 0 auto;
                display: block;
            }
        }
    }
    .col__#{$breakpoint} {
        @include media($breakpoint) {
            box-sizing: border-box;
            flex-grow: 1;
            flex-basis: 0;
            max-width: 100%;
        }
    }
}
.col {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
}
@for $i from 1 through $grid-cols {
    .col_#{$i} {
        flex-basis: (100 / ($grid-cols / $i) * 1%);
        max-width: (100 / ($grid-cols / $i) * 1%);
        width: 100%;
        flex: 0 0 auto;
        display: block;
    }
}
