@import "./index.scss";

.container {
    width: 100%;
    max-width: $container-width;
    margin-left: auto;
    margin-right: auto;
}
.thumb {
    width: 40px;
    height: 40px;
    position: relative;
    &.small {
        width: 32px;
        height: 32px;
    }
    img {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
    }
}
.icon {
    border-radius: $border-radius;

    display: block;
    width: 24px;
    height: 24px;
    position: relative;
    &.bg {
        background-color: getColor("vanilla");
    }
    &.small {
        img {
            max-width: 14px;
            max-height: 14px;
        }
    }
    img {
        position: absolute;
        max-width: 18px;
        max-height: 18px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
.srOnly {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
