$breakpoints: (
    "xs": 400px,
    "s": 480px,
    "sm": 560px,
    "m": 768px,
    "ml": 1024px,
    "l": 1248px,
    "xl": 1440px,
    "xxl": 1920px,
);
$colors-standard: (
    "black": #333333,
    "gray": #3333331a,
    "brown": #616161,
    "ecru": #a8996f,
    "white": #ffffff,
    "vanilla": #eeeeee,
    "purple": #96459a,
);

$colors-all: (
    "1": #333333,
    "2": #616161,
    "3": #a8996f,
    "4": #ffffff,
    "5": #eeeeee,
    "6": #fbfbfb,
    "7": #3333331a,
    "8": #707070,
    "9": #fbfbfb,
    "10": #96459a,
);

$font-weights: (
    "regular": 400,
    "bold": 700,
    "semibold": 600,
);

$space-list: (
    "xxxs": 8px,
    "xxs": 10px,
    "xs": 13px,
    "s": 16px,
    "sm": 20px,
    "m": 24px,
    "l": 36px,
    "xl": 48px,
    "xxl": 72px,
);

$border-radius: 6px;

$container-width: 564px;

$grid-cols: 12;
