@import "../../assets/style/index.scss";

.singleKudos {
    background-color: getColor("white");
    border: 1px solid getColor("gray");
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    box-sizing: border-box;
    padding: getSpace("s");

    display: flex;
    align-items: center;
}
.mainWrapper {
    width: 100%;
}
.agreement {
    align-self: center;
    span {
        margin-left: auto;
    }
}
.message {
    font-size: 1.4rem;
    line-height: 2.1rem;
    margin-bottom: getSpace("m");
    margin-top: getSpace("l");
    p {
        margin: 0;
    }
    a {
        color: getColor("ecru");
        text-decoration: none;
    }
}
.author {
    display: flex;
    align-items: center;
    .name {
        font-size: 1.6rem;
        display: block;
        font-weight: getFontWeight("bold");
    }
    .date {
        display: block;
        font-size: 1.4rem;
        color: getColor("8", "all");
    }
    .info {
        padding-left: getSpace("xxxs");
    }
}
.tag {
    display: flex;
    align-items: center;
    color: getColor("ecru");
    p {
        margin: auto auto auto getSpace("xxxs");
        font-size: 1.2rem;
    }
}
.footer {
    margin-top: getSpace("m");
    display: flex;
    width: 100%;
}
.social {
    margin-left: auto;
    display: flex;
    color: getColor("ecru");
    font-size: 1.2rem;

    &__list {
        padding: 0;
        margin: 0 getSpace("m") 0 0;
        display: flex;
    }
    &__item {
        list-style-type: none;
        align-items: center;
        display: flex;
        margin-left: getSpace("xs");
        img {
            height: 14px;
        }
    }
}
.menu {
    position: relative;
    cursor: pointer;
}
.actionList {
    overflow: hidden;
    z-index: 10;
    position: absolute;
    bottom: 2rem;
    right: 0;
    width: 100px;
    display: flex;
    border: 1px solid getColor("gray");
    border-radius: $border-radius;
    background-color: getColor("white");
    flex-direction: column;
    transform: scale(0);

    transition: transform 0.3s ease-out;
    &.active {
        transform: scale(1);

        max-width: 400px;
        max-height: 400px;
    }

    &__item {
        width: 100px;
        display: flex;
        align-items: center;
        position: relative;
        box-sizing: border-box;
        padding: getSpace("xxxs") / 2 getSpace("xxxs");
        cursor: pointer;
        transition: background-color 0.3s ease-out;
        &:hover {
            background-color: getColor("gray");
        }
        img {
            margin-right: getSpace("xxxs");
        }
    }
}
