@import "../../assets/style/index.scss";

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    &::-webkit-scrollbar {
        width: 0px;
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: #ff0000;
    }
    background-color: rgba($color: getColor("black"), $alpha: 0.8);
}
.wrapper {
    max-width: $container-width;
    margin: getSpace("xxl") auto;
}

.active {
    z-index: -1;
}
