@import "../../assets/style/index.scss";

.kudosForm {
    background-color: getColor("white");
    border-radius: $border-radius;
    padding: getSpace("l");
    max-width: 100%;
    position: relative;
    &__header {
        margin: auto auto getSpace("m");
        align-items: center;
        text-transform: uppercase;
        span {
            margin-right: getSpace("xxxs");
        }
    }
}
.header {
    font-size: 1.4rem;
    color: getColor("brown");
    font-weight: getFontWeight("semibold");
    margin-top: 0;
    &.moreSpace {
        margin-bottom: getSpace("m");
    }
}
.form {
    fieldset {
        border: none;
        padding: 0;
        margin-bottom: getSpace("m");
    }
}
.label {
    margin-bottom: getSpace("xxs");
    display: block;
}
.input {
    border: 1px solid getColor("gray");
    border-radius: $border-radius;
    color: rgba($color: getColor("brown"), $alpha: 0.5);
    font-size: 1.4rem;
    box-sizing: border-box;
    width: 100%;
    padding: getSpace("xxxs");
    &::placeholder {
        color: rgba($color: getColor("brown"), $alpha: 0.5);
    }
}
.closeBtn {
    position: absolute;
    top: getSpace("l");
    right: getSpace("l");
}
.autosuggest {
    border: 1px solid getColor("gray");
    border-radius: $border-radius;

    padding: getSpace("xxxs") getSpace("xxxs");
}

.selectHolder {
    position: relative;
}
.btn {
    display: flex;

    button {
        border: 1px solid getColor("purple");
        font-size: 1.4rem;
        color: getColor("white");
        font-weight: getFontWeight("semibold");
        background-color: getColor("purple");
        margin-left: auto;
        margin-top: auto;
        padding: getSpace("xxxs") getSpace("m");
        border-radius: $border-radius;
    }
}

.kudosList {
    margin-bottom: getSpace("xxs");
}
.option {
    display: flex;
    align-items: center;
    &__img {
        margin-right: getSpace("xxxs");
    }
    &__text {
        font-size: 1.4rem;
        color: getColor("8", "all");
    }
}
