@import "../../assets/style/index.scss";

.reactTag {
    display: flex;
    font-size: 1.4rem;
    & *:focus {
        outline: none;
    }
}

.selectedTag {
    padding: getSpace("xxxs") / 2 getSpace("m") getSpace("xxxs") / 2
        getSpace("xxxs") / 2;
    margin-right: getSpace("s");
    border: 1px solid getColor("gray");
    border-radius: $border-radius;
    background-color: getColor("gray");
    position: relative;
    &::after {
        content: url("/src/assets/img/icons/close.svg");
        height: 8px;
        width: 8px;
        position: absolute;
        top: -1px;
        right: 4px;
    }
}

.search {
    position: relative;
    align-self: center;
    input {
        border: none;
        width: 100%;
    }
}

.suggestions {
    position: absolute;
    top: getSpace("m");
    ul {
        margin: 0;
        padding: 0;
    }
    li {
        list-style: none;
        padding: getSpace("xxxs") / 2 getSpace("xxs");
        border: 1px solid getColor("gray");
        background-color: getColor("vanilla");
        margin-bottom: 2px;
        border-radius: $border-radius;
    }
    mark {
        background-color: rgba($color: getColor("white"), $alpha: 0.8);
    }
}
.disable {
    .searchInput {
        pointer-events: none;
        position: relative;
        z-index: -1;
    }
}
