@import "../../assets/style/index.scss";

.message {
    position: relative;

    max-width: 492px;
    border: 1px solid getColor("gray");
    border-radius: $border-radius;
    font-size: 1.4rem;
    box-sizing: border-box;
    width: 100%;
    padding: getSpace("xxxs");
    &::placeholder {
        color: rgba($color: getColor("brown"), $alpha: 0.5);
    }

    div[class^="draftJsEmojiPlugin__emojiSelectPopover"] {
        right: 0;
    }
    button[class^="draftJsEmojiPlugin__emojiSelectButton"] {
        width: 24px;
        height: 24px;
        border: none;
        background-color: transparent;
        &:hover {
            background-color: transparent;
        }
    }
    img[class^="draftJsMentionPlugin__mentionSuggestionsEntryAvatar"] {
        object-fit: cover;
    }
    div[class^="public-DraftEditorPlaceholder-root"] {
        position: absolute;
        color: getColor("brown");
        opacity: 0.5;
    }
    a[class^="draftJsMentionPlugin__mention"] {
        color: getColor("ecru");
        background-color: transparent;
    }
}

.counter {
    transition: max-height 0.3s ease-out, transform 0.3s ease-out;

    max-height: 0;
    transform: scale(0);
    position: absolute;
    bottom: getSpace("xxxs");
    left: getSpace("xxxs");
    color: getColor("gray");
}
.actionList {
    display: flex;
    width: max-content;
    margin-left: auto;
    justify-items: right;
    max-height: 0;
    transform: scale(0);
    transition: max-height 0.3s ease-out, transform 0.3s ease-out,
        top 0.3s ease-out;

    &__item {
        cursor: pointer;
        border-radius: $border-radius;
        background-color: getColor("vanilla");
        margin-left: getSpace("xxxs");
        height: 24px;
    }
}
.comment {
    padding: getSpace("xxxs") / 2 getSpace("xxxs");
    .actionList {
        transform: scale(1);
        position: relative;
        top: -1.75em;
        &__item {
            background-color: transparent;
            margin-left: 0;
        }
    }
    .counter {
        bottom: getSpace("xxxs") / 2;
    }
    &.isActive .actionList {
        top: 0;
    }
}
.isActive {
    .actionList {
        max-height: 2em;
        transform: scale(1);
    }
    .counter {
        max-height: 2em;
        transform: scale(1);
    }
}
