@import "../../assets/style/index.scss";

.addKudos {
    background-color: getColor("white");
    border: 1px solid getColor("gray");
    border-radius: $border-radius;
    box-sizing: border-box;
    padding: getSpace("xxxs") getSpace("s");
    margin-bottom: getSpace("xxs");
    display: flex;
    align-items: center;
}
.text {
    font-size: 1.4rem;
    padding-left: getSpace("xxxs");
    color: getColor("8", "all");
}
.agreement {
    span {
        margin-left: auto;
    }
}
.holder {
    align-items: center;
}
