@import "../../assets/style/index.scss";

.comments {
    margin-bottom: getSpace("xxs");
    background-color: getColor("white");
    border: 1px solid getColor("gray");
    border-top: none;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    box-sizing: border-box;
    padding: getSpace("s");
    display: flex;
    flex-direction: column;
    align-items: center;
}
.message {
    display: flex;
}
.actionList {
    position: absolute;
    margin: 0;
    padding: 0;
    right: 4px;
    top: 50%;
    transform: translateY(-50%);
    &__item {
        list-style-type: none;
        display: inline-block;
        &:hover {
            cursor: pointer;
        }
    }
}
.added {
    &__wrapper {
        align-items: center;
        display: flex;
        margin-top: getSpace("s");
    }
    &__name {
        margin: 0;
        font-weight: getFontWeight("semibold");
    }
    &__text {
        box-sizing: border-box;
        border: 1px solid getColor("gray");
        border-radius: $border-radius;
        padding: getSpace("xxxs");
        p {
            margin-top: 0;
        }
        a {
            color: getColor("ecru");
            text-decoration: none;
        }
    }
}
