@import "../../assets/style/index.scss";

.wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    font-weight: getFontWeight("bold");
}
